a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.client-color{
  background-color: rgba(192,192,192, 0.1);
}

.nav-color{
  background-color: rgba(222,184,135, 0.3);
}

b{
  font-size: 20px;
}

div.container-index{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.panel-header-grey{
  background-color: rgba(240,240,240,0.5);
}

@media(min-width: 768px){
  div.container-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 1200px;
  } 
}
