html, body, #root{
  margin: 0px;
  height: 100%;
}

b{
  color:  #3e3f3a;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.client-color{
  background-color: rgba(192,192,192, 0.1);
}

.nav-color{
  background-color: rgba(222,184,135, 0.3);
}

b{
  font-size: 20px;
}

.centered-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.column-container{
  display: flex;
  flex-direction: column;
}

span.padding-span div{
  padding-left: 30px;
}
span.centered-span-row{
  display: flex;
  justify-content: center;
}
.full-button{
  width: 100%;
}

div.centered-row{
  display: flex;
  justify-content: center;
  margin: 0px;
}

ul.navbar{
  display: flex;
  justify-content: center;
}

.row-top-spaced{
  margin-top: 35px;
}
